.form__cont {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(128, 128, 128, 0.573);
  border-radius: 10px;
  width: 330px;
  padding: 20px;

  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.75);


  position: relative;
}

@media(max-width:800px){
  .form__cont{
    margin-top: 100px;
    width: 300px;
  }
}





