.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup__content {
  border: solid 3px #8754cb;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 390px;
  width: 80%;
  padding-left: 45px;
}

.popup__close {
  margin-top: 20px;
  position: relative;
  top: -37px;
  left:135px;
  padding: 10px 20px;
  background-color: #8754cb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 
}

.popup__close:hover {
  background-color: #0056b3;
}


.popup__contentEdit {
  
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__geoCont{
  width: 300px;
}



.popup__geoCont img {
width: 300px !important;
height: 300px !important;

}

.popup__contentEditimg{
  position: absolute;
  border: solid 5px #8754cb;
  top: 0px;
  width: 150px !important;
  height: 150px !important;
}

.popup__contentEdit input {
  height: 30px;
  border-radius: 5px;
}

.popup__hinput {
  padding: 10px 20px;
  background-color: #8754cb;
  margin-top: 10px;
  border-radius: 5px;
}

.popup__hinputOk{

  padding: 10px 20px;
  background-color: green;
  margin-top: 10px;
  border-radius: 5px;
}
